@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@500&family=Proza+Libre:ital@1&display=swap');

body {
    background-color: lightgrey;
    font-family: Maitree
}

button {
    font-family: Proza Libre;
}

textarea, input, button {
    background-color: rgb(240, 238, 210);
}

textarea {
    font-size: 1.75em;
}

.editorBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.songCard {
    background-color: rgb(101, 101, 100);
}